@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body video {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  body video {
    width: 480px;
    height: 100%;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  body video {
    width: 720px;
    height: 100%;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  body video {
    width: 1080px;
    height: 100%;
  }
}
